* {
    box-sizing: border-box;
}

.box {
    display: inline-block;
    width: 100px;
    height: 100px;
    border: 6px solid darkred;
    /* border-radius: 5px; */
    background-color: burlywood;
    padding: 10px;
    margin: 10px;
}

.box:nth-child(even) {
    background-color: gold;
}